<header class="site-header">
	<div class="site-header__inner">
		<a class="site-brand" href="{{ '/' | relative_url }}" target="_self" aria-label="{{ site.app_name }} home">
			<img class="site-brand__icon" src="{{ site.app_icon | relative_url }}" alt="">
			<span>{{ site.app_name }}</span>
		</a>
		<nav class="site-nav" aria-label="Primary">
			<a href="{{ '/#features' | relative_url }}" target="_self">Features</a>
			<a href="{{ '/#widgets' | relative_url }}" target="_self">Widgets</a>
			<a href="{{ '/countdown-ideas/' | relative_url }}" target="_self">Ideas</a>
			{% if site.presskit_download_link %}
				<a class="site-nav__optional" href="{{ site.presskit_download_link | relative_url }}">Press Kit</a>
			{% endif %}
			<a class="site-nav__cta" href="{{ site.appstore_link }}">Download</a>
		</nav>
	</div>
</header>
