<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="imageWrapper">
            <div class="headerBackground">
                <div class="container">
                    {% include header.html %}
                    <div class="iphonePreview">
                        <img class="iphoneScreen" src="assets/screenshot.png" alt="Countdowns iOS App Screenshot">
                    </div>
                    <div class="appInfo">
                        <div class="appIconShadow">
                            <img class="appIconLarge" src="{{ site.app_icon | relative_url }}">
                        </div>
                        <div class="appNamePriceContainer">
                            <h1 class="appName">
                                {{ site.app_name }}
                            </h1>
                            <h2 class="appPrice">
                                {{ site.app_price }}
                            </h2>
                        </div>
                        <div class="appDescriptionContainer">
                            <p class ="appDescription">
                                {{ site.app_description }}
                            </p>
                        </div>
                        <div class="downloadButtonsContainer">
                            <a class="appStoreLink" href="{{site.appstore_link}}"><img class="appStore" src="assets/appstore.png"></a>
                        </div>
                    </div>
                    {% include features.html %}
                    {% include footer.html %}
                </div>
            </div>
        </div>
</body>
</html>